<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!--  File appender -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>errors/log.err</file>
    <encoder>
      <Pattern>%d{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</Pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="FILE"/>
  </root>
</configuration>